pre {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    float: left;
    justify-content: center;
    min-width: 100%;
    box-sizing: border-box;
    overflow: auto;
}
code {
    display: inline-block;
}


.post-content h1 {
    margin: 35px auto 27px;
    font-size: 35px;
}

.post-content h2 {
    margin: 27px auto 19px;
    font-size: 27px;
}

.post-content h3 {
    font-size: 19px;
}

.post-content h4 {
    font-size: 16px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h6 {
    font-size: 12px;
}



/* <button class="comment-button" role="button">Comment Button</button> */

/* Comment Button CSS */
.comment-button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.comment-button:hover,
.comment-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.comment-button:active {
  background: var(--color);
  color: #fff;
}