pre {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    float: left;
    justify-content: center;
    min-width: 100%;
    box-sizing: border-box;
    overflow: auto;
}
code {
    display: inline-block;
}


.post-content h1 {
    margin: 35px auto 27px;
    font-size: 35px;
}

.post-content h2 {
    margin: 27px auto 19px;
    font-size: 27px;
}

.post-content h3 {
    font-size: 19px;
}

.post-content h4 {
    font-size: 16px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h6 {
    font-size: 12px;
}



/* <button class="comment-button" role="comment-button">Comment Button</button> */
/* Comment Button CSS */
@media (prefers-color-scheme: light) {
    /* Light mode styles */
    .comment-button {
      background-color: #f5f5f5;
      border: 1px solid #dcdcdc;
      color: #333333;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.15385;
      margin: 0;
      outline: none;
      padding: 8px .8em;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      white-space: nowrap;
    }
    
    .comment-button:hover,
    .comment-button:focus {
      background-color: #dcdcdc;
      color: #333333;
    }
    
    .comment-button:focus {
      box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    }
    
    .comment-button:active {
      background-color: #c8c8c8;
      box-shadow: none;
      color: #333333;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    /* Dark mode styles */
    .comment-button {
      background-color: #333333;
      border: 1px solid #555555;
      color: #f5f5f5;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.15385;
      margin: 0;
      outline: none;
      padding: 8px .8em;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      white-space: nowrap;
    }
    
    .comment-button:hover,
    .comment-button:focus {
      background-color: #555555;
      color: #f5f5f5;
    }
    
    .comment-button:focus {
      box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    }
    
    .comment-button:active {
      background-color: #777777;
      box-shadow: none;
      color: #f5f5f5;
    }
  }
