pre {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    float: left;
    justify-content: center;
    min-width: 100%;
    box-sizing: border-box;
    overflow: auto;
}
code {
    display: inline-block;
}


.post-content h1 {
    margin: 35px auto 27px;
    font-size: 35px;
}

.post-content h2 {
    margin: 27px auto 19px;
    font-size: 27px;
}

.post-content h3 {
    font-size: 19px;
}

.post-content h4 {
    font-size: 16px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h6 {
    font-size: 12px;
}





/* <button class="comment-button" role="comment-button">Comment Button</button> */

/* Comment Button CSS */
.comment-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.comment-button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.comment-button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.comment-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.comment-button:focus {
  outline: 1px transparent;
}

.comment-button:before {
  display: none;
}

.comment-button:-webkit-details-marker {
  display: none;
}