<link rel="manifest" href="/manifest.json">
<link rel="sitemap" type="application/xml" title="Sitemap" href="https://samirpaulb.github.io/sitemap.xml">
<link rel="alternate" type="application/rss+xml" title="RSS" href="https://samirpaulb.github.io/index.xml" />
<meta content="@SamirPaulb" name="twitter:site"/>
<meta content="@SamirPaulb" name="twitter:creator"/>
<meta content="24bac6e1fbf1750de40d59bb788d9dd9" name="p:domain_verify"/>
<meta content="6800281970014175" property="fb:app_id"/>
<meta content="3pkgruuk3kzlsn3jdfehgbd4sem1qb" name="facebook-domain-verification"/>
<meta content="n93bHAYCJyRzj_9ccNNLKYUj03U0eWuhdV5Gb-bv2_g" name="google-site-verification"/>
<meta name="google-site-verification" content="uziThFIJ1huzKLCKv-DChPbWZTRRFqmmdA6pcA-dqzs" />
<meta name="norton-safeweb-site-verification" content="T6HT8369KUUY397AF0DR156R68VRT-TLWZN125VQ9LDDM-RDFVBRR1LCL0X-G24EG2WZVU67SXIIX45AP-2R7JQ32IVVUGCDM40Z4SOSI-O3388MV5MGBP7O115MWUW2" />
<meta content="NHI3em00K1U3WmRGTTRHeWVGNUdNZz090" name="dmca-site-verification"/>


<!--[ Preconnect and DNS Prefetch ]-->

<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com" rel="dns-prefetch"/>

<link href="https://google.com" rel="preconnect"/>
<link href="https://google.com" rel="dns-prefetch"/>

<link href="https://analytics.google.com" rel="preconnect"/>
<link href="https://analytics.google.com" rel="dns-prefetch"/>

<link href="https://www.google-analytics.com" rel="preconnect"/>
<link href="https://www.google-analytics.com" rel="dns-prefetch"/>

<link href="https://www.gstatic.com" rel="preconnect"/>
<link href="https://www.gstatic.com" rel="dns-prefetch"/>

<link href="https://www.googletagmanager.com" rel="preconnect"/>
<link href="https://www.googletagmanager.com" rel="dns-prefetch"/>

<link href="https://www.googletagservices.com" rel="preconnect"/>
<link href="https://www.googletagservices.com" rel="dns-prefetch"/>

<!-- <link href="https://cse.google.com" rel="preconnect"/>
<link href="https://cse.google.com" rel="dns-prefetch"/> -->

<link href="https://pagead2.googlesyndication.com" rel="preconnect"/>
<link href="https://pagead2.googlesyndication.com" rel="dns-prefetch"/>

<link href="https://googleads.g.doubleclick.net" rel="preconnect"/>
<link href="https://googleads.g.doubleclick.net" rel="dns-prefetch"/>

<!-- <link href="https://tpc.googlesyndication.com" rel="preconnect"/>
<link href="https://tpc.googlesyndication.com" rel="dns-prefetch"/> -->

<!-- <link href="https://apis.google.com" rel="preconnect"/>
<link href="https://apis.google.com" rel="dns-prefetch"/> -->

<!-- <link href="https://use.fontawesome.com" rel="preconnect"/>
<link href="https://use.fontawesome.com" rel="dns-prefetch"/> -->

<!-- <link href="https://cdnjs.cloudflare.com" rel="preconnect"/>
<link href="https://cdnjs.cloudflare.com" rel="dns-prefetch"/> -->

<link href="https://www.w3.org" rel="preconnect"/>
<link href="https://www.w3.org" rel="dns-prefetch"/>

<link href="https://platform.twitter.com" rel="preconnect"/>
<link href="https://platform.twitter.com" rel="dns-prefetch"/>

<link href="https://samirpaul.disqus.com" rel="preconnect"/>
<link href="https://samirpaul.disqus.com" rel="dns-prefetch"/>

<link href="https://disquscdn.com" rel="preconnect"/>
<link href="https://disquscdn.com" rel="dns-prefetch"/>

<link href="https://c.disquscdn.com" rel="preconnect"/>
<link href="https://c.disquscdn.com" rel="dns-prefetch"/>

<link href="https://www.youtube.com" rel="preconnect"/>
<link href="https://www.youtube.com" rel="dns-prefetch"/>

<!-- <link href="https://img.youtube.com" rel="preconnect"/>
<link href="https://img.youtube.com" rel="dns-prefetch"/> -->

<!-- <link href="https://player.vimeo.com" rel="preconnect"/>
<link href="https://player.vimeo.com" rel="dns-prefetch"/> -->

<link href="https://amazonaws.com" rel="preconnect"/>
<link href="https://amazonaws.com" rel="dns-prefetch"/>

<link href="https://s3.amazonaws.com" rel="preconnect"/>
<link href="https://s3.amazonaws.com" rel="dns-prefetch"/>

<link href="https://scdn.netlify.app" rel="preconnect"/>
<link href="https://scdn.netlify.app" rel="dns-prefetch"/>

<link href="https://spcdn.pages.dev" rel="preconnect"/>
<link href="https://spcdn.pages.dev" rel="dns-prefetch"/>

<link href="https://scdn.web.app" rel="preconnect"/>
<link href="https://scdn.web.app" rel="dns-prefetch"/>

<link href="https://github.com" rel="preconnect"/>
<link href="https://github.com" rel="dns-prefetch"/>

<link href="https://samirpaulb.github.io" rel="preconnect"/>
<link href="https://samirpaulb.github.io" rel="dns-prefetch"/>

<link href="https://user-images.githubusercontent.com" rel="preconnect"/>
<link href="https://user-images.githubusercontent.com" rel="dns-prefetch"/>

<link href="https://raw.githubusercontent.com" rel="preconnect"/>
<link href="https://raw.githubusercontent.com" rel="dns-prefetch"/>

<link href="https://cdn.jsdelivr.net" rel="preconnect"/>
<link href="https://cdn.jsdelivr.net" rel="dns-prefetch"/>

<link href="https://unpkg.com" rel="preconnect"/>
<link href="https://unpkg.com" rel="dns-prefetch"/>

<link href="https://res.cloudinary.com" rel="preconnect"/>
<link href="https://res.cloudinary.com" rel="dns-prefetch"/>

<link href="https://cloudinary.com" rel="preconnect"/>
<link href="https://cloudinary.com" rel="dns-prefetch"/>

<link href="https://imgur.com" rel="preconnect"/>
<link href="https://imgur.com" rel="dns-prefetch"/>

<!-- <link href="https://assets.calendly.com" rel="preconnect"/>
<link href="https://assets.calendly.com" rel="dns-prefetch"/> -->




<!-- MathJax Support -->
{{ if or .Params.math .Site.Params.math }}
<script>
MathJax = {
    tex: {
    inlineMath: [ ['$', '$'], ['\\(', '\\)'] ]
    },
    svg: {
    fontCache: 'global'
    }
};
</script>
<script defer loading="lazy" type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.min.js"></script>
{{ end }}