<!-- Automatically open external links in new tab or window. -->
<script defer loading="lazy">
window.addEventListener("DOMContentLoaded", function externalLinks() {
  var anchors = document.getElementsByTagName("a");
  for (var i = 0; i < anchors.length; i++) {
    if (anchors[i].hostname !== window.location.hostname) {
      anchors[i].setAttribute("target", "_blank");
      anchors[i].setAttribute("rel", "noopener");
    }
  }
});
</script>


<!-- Register Service Workers -->
<script defer loading="lazy">
document.addEventListener('DOMContentLoaded', function() { 

if (navigator && navigator.serviceWorker) {
    navigator.serviceWorker.register("/sw.js", { scope: '/' });
}

});
</script>


<!-- Google AdSense code -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8274401353019049"
     crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
