<!-- Automatically open external links in new tab or window. -->
<script defer loading="lazy">
window.addEventListener("DOMContentLoaded", function externalLinks() {
  var anchors = document.getElementsByTagName("a");
  for (var i = 0; i < anchors.length; i++) {
    if (anchors[i].hostname !== window.location.hostname) {
      anchors[i].setAttribute("target", "_blank");
      anchors[i].setAttribute("rel", "noopener");
    }
  }
});
</script>


<!-- Register Service Workers -->
<script defer loading="lazy">
document.addEventListener('DOMContentLoaded', function() {
    

if (navigator && navigator.serviceWorker) {
    navigator.serviceWorker.register("/sw.js", { scope: '/' });
}
const logo = document.querySelector(".logo");
window.addEventListener("beforeinstallprompt", (e) => {
    e.preventDefault();
    deferredPrompt = e;
    logo.addEventListener("click", (e) => {
    deferredPrompt.prompt();
    deferredPrompt.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === "accepted") {
        console.log("User accepted the A2HS prompt");

        } else {
        console.log("User dismissed the A2HS prompt");

        }
        deferredPrompt = null;
    });
    });
});


});
</script>

<!-- 
<script type="module" defer async loading="lazy" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8274401353019049" crossorigin="anonymous"></script> 
-->


